server:
    port: 8080
spring:
    application:
        name: workflow-engine
    data:
        mongodb:
            uri: mongodb://localhost:27017/workflowdb
    mail:
        host: smtp.gmail.com
        port: 587
        username: "lihkinnegi@gmail.com"
        password: "mfoh xrhl giwu pzqj"
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true
